html {
    box-sizing: border-box;
    background-color: #F5F5F5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'InterTight';
    src: local('InterTightLight'),
        url('assets/fonts/InterTightLight.woff2') format('woff2'),
        url('assets/fonts/InterTightLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'InterTight';
    src: local('InterTightRegular'),
        url('assets/fonts/InterTightRegular.woff2') format('woff2'),
        url('assets/fonts/InterTightRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    /* min-width: 1200px; */
    font-family: 'InterTight', sans-serif;
    font-weight: 400;
}

/* global */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
    flex-direction: column;
}

.main,
.footer_list {
    flex-direction: row;
}

.container_shadow {
    width: 1200px;
    height: 1696px;
    margin: 35px auto;
    padding: 0;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);;
}

.title-block {
    margin-bottom: 40px;
    display: block;
    padding-bottom: 6px;
    border-bottom: 2px solid #777778;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #777778;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

h2 {
    margin: 0;
    color: #C2A778;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
}

h3 {
    margin: 0;
    margin-bottom: 35px;
    padding-right: 41px;
    font-size: 25px;
    font-weight: normal;
    text-align: right;
    color: #C2A778;
    text-transform: uppercase;
}

p {
    margin: 0;
}

.section {
    align-items: center;
}

.item_li:not(:last-child) {
    margin-bottom: 20px;
}

/* main */
/* left */
.cv_left {
    width: 499px;
    height: 1567px;
    padding: 0 65px;
    padding-top: 100px;
    padding-bottom: 285px;
    justify-content: space-between;
    background-color: #F0F0F0;
}

.item {
    font-size: 22px;
    padding-left: 55px;
    line-height: 32px;
    color: #777778;
    font-weight: 300;
}

.item_telegram {
    background-image: url(assets/img/icon_contacts/icon_telegram.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 32px 27px;
}

.item_email {
    background-image: url(assets/img/icon_contacts/icon_mail.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 30px 23px;
}

.item_linkedin {
    background-image: url(assets/img/icon_contacts/icon_linkedin.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 32px 27px;
}

.item_github {
    background-image: url(assets/img/icon_contacts/icon_github.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 31px 27px;
}

.hover:hover {
    color: #C2A778;
}

.address {
    font-style: normal;
}

.avatar_img {
    border: 0 solid;
    border-radius: 100%;
}

.section_left {
    width: 310px;
}

.title-left {
    width: 370px;
}


.item-info {
    font-size: 22px;
}

.skills_item {
    font-weight: 400;
    color: #515151;
}

.item_html {
    background-image: url(assets/img/icon_skills/icon_html5.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 31px 27px;
}

.item_css {
    background-image: url(assets/img/icon_skills/icon_css.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 31px 27px;
}

.item_figma {
    background-image: url(assets/img/icon_skills/icon_figma.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 31px 27px;
}

.item_git {
    background-image: url(assets/img/icon_skills/icon_github.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 31px 27px;
}

.item_vscode {
    background-image: url(assets/img/icon_skills/icon_vscode.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 31px 27px;
}

/* right */

.cv_right {
    padding: 0 88px;
    padding-top: 100px;
    height: 1567px;
    justify-content: space-between;
    background-color: #fff;
}

.about_myself {
    color: #777778;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    line-height: 150%;
}

.about_myself:not(:last-child) {
    padding-bottom: 20px;
}

.title_right {
    width: 524px;
}

.section-right {
    width: 433px;

}

.info:not(:last-child) {
    margin-bottom: 20px;
}

.title_info {
    margin-bottom: 6px;
    color: #303030;
    font-size: 24px;
    font-weight: 400;
}

.descr_info {
    color: #777778;
    font-size: 18px;
    font-weight: 300;
}

.descr_info:not(:last-child) {
    margin-bottom: 4px;
}

.list_descr {
    margin-top: 12px;
}

.descr-info {
    color: #777778;
    font-size: 18px;
    font-weight: 300;
}

/* FOOTER */
.footer {
    width: 499px;
    height: 129px;
    padding: 36px 76px;
    justify-content: space-between;
    background-color: #F0F0F0;
}

.footer_flex {
    flex-direction: row;
}

.footer_list {
    align-items: flex-end;
    justify-content: space-between;
}

.footer_link-rss {
    display: block;
    width: 150px;
    height: 54px;
    background-image: url(assets/img/icon_footer/rs_school_js.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer_link-github {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(assets/img/icon_footer/github.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer_link-cv {
    display: block;
    width: 85px;
    height: 39px;
    background-image: url(assets/img/icon_footer/2023.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.empty {
    width: 700px;
    height: 129px;
    background-color: #fff;
}