@font-face {
    font-family: 'InterTight';
    src: local('InterTightRegular'),
        url('fonts/InterTightRegular.woff2') format('woff2'),
        url('fonts/InterTightRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
